  .Title{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row: 1;
    height: 40px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 2.6rem;
  }
  
  .RoomContainer
  {
    display: flex;
    grid-row: 3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
  }