.App{
  width: calc(100vw - 2rem);
  height: 100vh;
  background : #F9F9F9;
}
.AppContainer {
  display: grid;
  width: calc(100vw - max((100vw - 1440px),0px));
  height: 100%;
  margin-left: max(calc((100vw - 1440px) / 2),0px);
  margin-right: max(calc((100vw - 1440px) / 2),0px);
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 50px 10rem auto;
  column-gap: 10px;
}
.TopNav{
  display: flex;
  height: 50px;
  background: #F9F9F9;
  border-bottom: 0.2rem solid black;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.TopNav ul{
  font-weight: 700;
}

.TopNav ul:hover{
  font-weight: 700;
  color: lightgray;
}

.LoginContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LoginContainer p,button{
  margin-right: 1rem;
}

.Title{
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row: 2;
  height: 40px;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  margin: 2.6rem;
}

.RoomContainer
{
  display: flex;
  grid-row: 3;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
}

.col-2
{
  grid-column: span 2 / span 2;
}

.col-12
{
  grid-column: span 12 / span 12;
}